
#music {
  height: 0;
}

/*导航*/
#contents {
  text-align: center;
  background-color: #8e7437;
}

#contents a{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  padding: 0 10px;
  font-size: 15px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  font-family: Microsoft JhengHei;
}

#contents a:hover {
  font-size: 16px;
  padding: 0 8px;
  opacity: 0.8;
  background-color: #ad8b3d;
}

/*个人简介*/
#intro-head {
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 3px solid #EED8AE;
}

#intro-content {
  font-size: 20px;
}

/*头像*/
#introImage img {
  height: 360px;
  border-radius: 10px;
}

#introImage {
  text-align: center;
}

#intro {
  background-color: #fffef9;
  padding: 20px 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*作品集*/
#worksTitle {
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
  border-radius: 5px;

  background: -webkit-linear-gradient(left, rgba(199,162,82,1) , rgba(199,162,82,0)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(199,162,82,1), rgba(199,162,82,0)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, rgba(199,162,82,1), rgba(199,162,82,0)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, rgba(199,162,82,1) , rgba(199,162,82,0)); /* 标准的语法（必须放在最后） */

}

#worksTitle p {
  font-size: 30px;
  font-family: Microsoft JhengHei;
  color: #fff;
}

#works img{
  height: 400px;
  margin-bottom: 10px;
}

#works p {
  font-family: Microsoft JhengHei;
  font-weight: 500;
}

/*居中每个作品*/
.worksDiv {
  text-align: center;
  margin-top: 20px;
}

.worksDiv p {
  width: 280px;
  margin: 0 auto;
  font-size: 18px;
}

/*首页图片*/
#image1, #image2{
  background-color: #F8E4C1;
}

.item img {
  display: inline-block !important;
  max-height: 440px !important;
}

#image1-2 {
  float: right;
}

/*书信页面*/
.letter-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.letter-body {
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
}

#letter th, td {
  font-size: 16px;
  color: #ad8b3d;
}

.table-hover>tbody>tr:hover {
  background-color: #FAFAD2;
}

/*隐藏原始播放器*/
.audio_letter {
  display: none;
}

/*绘制播放器*/
.musicPlayer {
  background-color: #EEE8CD;
  width: 300px;
  height: 30px;
  line-height: 10px;
  padding: 5px;
  border-radius: 8px;
}

.musicPlayer .toPlay, .toPause {
  font-size: 16px;
  cursor: pointer;
  padding-left: 5px;
}

.state {
  position: relative;
  left: 20px;
  font-size: 15px; 
  font-family: Microsoft Jhenghei;
}

#playMusic {
  position: fixed;
  background-color: #ad8b3d;
  bottom: 108px;
  left: 5px;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  border: 2px solid #ad8b3d;

  -moz-transition: background-color 0.7s;
  -webkit-transition: background-color 0.7s;
  -moz-transition: color 0.7s;
  -webkit-transition: color 0.7s;
}

#playMusic:hover {
  background-color: #fff;  
  color: #ad8b3d;
}
