
/*加粗表格内容*/
td {
	font-weight: 600;
}

a {
	cursor: pointer;
}

/*所有表格最小高*/
.table-responsive {
	min-height: 260px;
}


/*设置管理员标题的样式*/
#setAdminCount {
	margin: 20px 0;
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
	padding-right: 5px;
}

/*设置分隔线的样式*/
.D-lineStyle {
	border-color: #999;
	margin-top: 0;
	margin-bottom: 20px;
}

/*标签页标题设置*/
.D-tabTitleStyle {
	font-size: 18px;
}

.D-tabTitleStyle-second {
	font-size: 15px;
}

.D-tabTitleStyle-second a {
	background-color: #E0EEE0;
}

.D-tabTitleStyle a {
	background-color: #EBEBEB;
	margin-top: 5px;
}

/*第二层标签页样式设置*/
.D-secondTabStyle {
	margin: 20px 10px;
}

/*表格样式*/
.D-myTableStyle {
	margin-top: 10px;
	font-size: 15px;
}

/*表格头的样式*/
.D-thead {
	background-color: #EBEBEB;
}

/*表格内容样式*/
.D-myTabContent {
	background-color: #fff;
}

/*搜索按钮样式*/
.D-mySearchBth {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	height: 35px;
	line-height: 38px;
	font-size: 20px;
	width: 50px;

}

/*搜索框*/
#searchUser {
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}

.D-searchClassSytle {
	margin-top: 20px;
}

/*翻页，上一页，下一页*/
.D-myNavPage {
	float:right;
}

.D-myNavPage ul li a:hover{
	color: #fff;
	background-color: #BCEE68;
}

/************************
分析师管理
************************/
.D-cancelAnalizeBtn {
	height: 30px;
	line-height: 30px;
	background-color: #FF7680;
	font-size:15px;
}

/************************
收款管理
*************************/
/*已付款按钮*/
.D-havePadBtn {
	height: 30px;
	line-height: 30px;
	font-size:15px;
	margin-right: 8px;
}

.D-detailBtn {
	padding: 0 5px;
	height: 30px;
	line-height: 30px;
	font-size:15px;	
}


/*表格样式的补充*/
.D-someTableStyle {
	background-color: #fff;
}


/*查看申请*/
.D-apply {
	border-radius: 5px;
	padding: 10px;
	background-color: #EBEBEB;
}

.D-apply p {
	line-height: 30px;
}


/*文字样式*/
#nameStyle {
	font-size: 20px;
	font-weight: 500;
	font-family: Microsoft Jhenghei;
}

/*平台费调控*/
#systemManage  {
	padding: 20px;
	font-family: Microsoft Jhenghei;
}

/*隐藏*/
.D-myHidden {
	display: none;
}

/*确认弹窗的按钮*/
.D-confirm{
	background-color:#A7DF3C;
}

/*确认框的内容*/
.content {
	text-align: center;
	font-size: 16px;
}

.D-signColor {
	color:#EE9A49;
}

.D-signColorRed {
	color: red;
}

/*已确认付款*/
.D-haveAlreadyPad{
	padding-left:77px;
	padding-right:77px;
}

/*已删除*/
.D-haveDele{
	padding-left: 92px;
	padding-right: 92px;
}

/*已完成*/
.D-haveReturn {
	padding-left: 47px;
	padding-right: 48px;
}
