
/****************************************基本布局*/
/*限制图片的最大宽度*/
.D-myImg {
	width: 100%;
	max-width: 550px;

	height: 100%;
	max-height: 500px;

	margin-bottom: 20px;
	border-radius: 10px;
}

/*文字说明*/
.D-explain {
	height: 100%;
	background-color: #F1BC70;
	overflow: auto;

	padding: 10px 15px;

	margin-bottom: 20px;
	border-radius: 10px;
}

.D-explain h3 {
	text-align: center;
}

.D-explain p {
	line-height: 1.5;
}

/*设置每行的间隔*/
.D-rowStyle {
	margin-bottom: 10px;
}

/*抵消导航的高度*/
#myOffsetNav {
	height: 60px;
}

#myNav {
	position: fixed;
	left:50px;
}

/* 目录的背景*/
#myContents li{
	background-color: #E0EEE0;

}


/*******************************************模态框设置*/
/*居中*/
.D-modalPicSise {
	text-align: center;
	margin-bottom: 20px;
	width:auto;
}

/*重写booststap的样式，用来居中*/
/* .modal-dialog {
 	width:auto;
 }*/

/*******************************************分析操作*/
#myArChooseBtn {
	margin-top: 20px;
	margin-bottom: 20px;
}

#myArChooseBtn a {
	margin-top: 10px;
	margin-bottom: 10px;
}

 /*提示框样式*********************************************/

  /*确认弹窗的按钮*/
.D-confirm{
	background-color:#A7DF3C;
}

/*确认框的内容*/
.content {
	text-align: center;
	font-size: 16px;
}

.D-signColor {
	color:#EE9A49;
}

.D-signColorRed {
	color: red;
}

.D-signColorGreen {
  color: #A7DF3C;
}

