/* 页首 */
#Pheader{
	text-align: center;
	margin-top: 20px;
}
/* 用户div */
 #Duser{

 	margin-top: 30px;
 }
/*登录字体*/
#Pheader>h2 {
	font-family: Microsoft Jhenghei;
}
/*登录页面窗体*/
#myLoginWindow {
	background-color: #fff;
	margin-top: 40px;
	padding: 30px;
	text-align: center;
	box-shadow: 0 1px 10px #ccc;
}

 /* 选择按钮 */
.choose{
	color: rgb(51,122,183);
}
 #forgetPW{
	position: absolute;
	right:0 ;
}
#rememberMe{

	position: absolute;
	left:0 ;
}
/* 注册 */
#reg{
	margin-top: 20px;
	font-size: 20px;
}
/* 登录 */
#loginBtn{

	width: 100%;
	margin-top:50px;
}
#error{
color: rgb(206,18,18);
}

.error {
   color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}

