
/*基本样式*/
body {
	background: #F7F7F7;
}

/*居中*/
.D-intoCenter {
	text-align: center;
}

/*常用大字体*/
.D-bigWord-B {
	font-size: 35pt;
}
.D-bigWord-M {
	font-size: 30pt;
}
.D-bigWord-S {
	font-size: 25pt;
}

/*常用中字体*/
.D-mediumWord {
	font-size: 19pt;
}
/*常用小字体*/
.D-littleWord {
	font-size: 15pt;
}

/*清除浮动*/
.D-eas-clearFix:after{
    clear: both;
    display: block;
    visibility: hidden; /*设置不可见*/
    height: 0;
    line-height: 0;
    content: ""; /*after伪对象必须的属性，可以设置内容为空*/
}

.D-eas-clearFix {}

/*分隔举例*/
.hrMargin {
	height: 20px;
	margin: 0;
	padding: 0;
	background: #F7F7F7;
}


/*==========================
导航条
==========================*/
#navbarId {
	height: 60px;
}

#navbarId .container {
	margin-top: 4px;
	font-size: 16px;
}

/*域名链接*/
#theBrand {
	font-size: 24px;
}

/*小三角形*/
.glyphicon-triangle-bottom {
	/*柳色*/
	color: #78a355;
}

/*子系统*/
#smallSys {
	font-size: 16px;
}

#theBrand {
	color: #fff;
	font-weight: 800;
}

#theBrand span {
	color: #78a355;
}

/*==========================
页头
==========================*/
.page-header {
	margin-top: 40px;
}

/*大标题*/
#headWord {
	position: absolute;
	height: 500px;
	width: 100%;
}

/*申请会员二维码付款界面*/
#applyMenber{
	display: block;
}
#headline{
	margin-top: 10px;
	font-size: 50px;
	color: #78a355;
}
#border{
	border-style: solid;
	border-width: 1px ;
	border-color: #78a355;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 15px;
}
.userInfo{
	margin-top: 15px;
}
#payUser,#openTime{
	float: left;
	display: block;
	font-size: 15pt;
	color: #78a355;
}
#userName,#money{
	float: left;
	display: block;
	font-size: 15pt;
}
#monthBox{
	width: 50px;
}
#month{
	font-size: 12pt;
}
#linkToVIP{
	display: block;
	font-size: 13pt;
	margin-top: 20px;
}
.link{
	display: block;
	font-size: 13pt;
	cursor: pointer;
	color: rgb(51,122,183);
}
#yearVIP{
	display: block;
}
#monthVIP{
	display: none;
}
#yuan{
	float: left;
	display: block;
	font-size: 15pt;
	margin-left: 20px;
}
#QRCodeArea{
	margin-bottom: 20px;
}
#QRCode,#QRCodeWord{
	text-align: center;
}
#orderNumBox{
	width: 211px;
}

.no-padding{
	padding-left: 0;
	padding-right: 0;
}
.btnGroup{
	margin-top: 20px;
}


/*=====================
页尾
=====================*/
.D-footer .row {
	margin-top: 20px;
	height: 100px;
	background-color: #ccc;
}


